/*===========================Common CSS*/
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
.box{
    display: flex;
}
.title h2{
    font-size: 48px;
    color: #282938;
    font-weight: 600;
    font-family: "Poppins", sans-serif;

}
.title p{ 
    font-size: 16px;
    color: #282938;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    width: 406px;
    margin: 15px 0px;

}
.title .titleani{
    color: #2405F2;
    margin-left: 0px;
}
/*===========================Common CSS*/

/*=========================================
Navbar CSS-Start
===========================================*/
nav{
    background-color: #1C1E53;
}

.navbar-nav{
    column-gap: 32px;
}
.nav-link{
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 16px;
    font-weight: 500;
    color: #BBBBCB;
    font-family: "Poppins", sans-serif;
    transition: .5s;

}
.nav-item:hover .nav-link{
    color: #ffff;

}
.nav-btn{
    background: #FCD980;
    padding: 16px 48px;
    border-radius: 41px;
    border: 1px solid rgba(244, 246, 252,0.20);
    font-size: 16px;
    color: #ffff;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    margin-left: 48px;
  
} 

.nav-btn:hover{
    border-color: #1C1E53;
    background: transparent;
    color: #FCD980;

}

/*=========================================
Navbar CSS-End
===========================================*/

/*=========================================
Banner CSS-Start
===========================================*/
.banner{
    background: #1C1E53;
    padding: 128px 0px;
}
.banner h1{
    font-size: 54px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #ffff;
    line-height: 74px;

}
.banner p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255, 255, .70);
    line-height: 28px;
    width: 558px;
    padding-top: 16px;


}
.banner-btn{
     background: #FCD980;
    padding: 16px 56px;
    border-radius: 41px;
    border: 1px solid transparent;
    font-size: 16px;
    color: #000;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    transition: 1s;
    display: inline-block;
    margin-top: 38px;

    

}
.banner-btn:hover{
    border-color: #1C1E53;
    background: transparent;
    color: #FCD980;

}
.view-pricing{
    margin-left: 30px;
    font-size: 16px;
    color: #ffff;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    position: relative;

 
}
.view-pricing i{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    transition: 0.4s;
    opacity: 0;
}
.view-pricing:hover i{
    right: -50px;
    opacity: 1;
 
 
}

/*=========================================
Banner CSS-End
===========================================*/


/*=========================================
work CSS-start
===========================================*/
.work{
    padding: 128px 0px;
    
    
}
.work .work-box{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}
.work .work-card{
    width: 48%;
}
.work .work-card h{
    font-size: 32px;
    color: #282938;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    padding-top: 16px;
    padding-bottom: 8px;
   
} 
.work .work-card p{
    font-size: 16px;
    color: #282938;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    width: 304px;
   
} 

.work-box{
    display: flex;
    gap: 20px;
}


/*=========================================
work CSS-End
===========================================*/

/*=========================================
project CSS-start
===========================================*/
.project{
    padding: 128px 0px;

}
.project .box{
    justify-content: space-between;
    align-items: center;
     
}
.project .project-ani{
    color: #2405F2;
    margin-left: 0px;
}
.project img:nth-child(2){
    margin-top: 32px;

}
.project .image-box{
    position: relative;
    overflow: hidden;
    

}
.project .image-box .overly{
    width: 52%;
    height: 100%;
    background: rgba(28, 30, 83, .6);
    position: absolute;
    top: 0;
    left: -52%;
    transition: .4s;
    padding-top: 312px;
    padding-left: 48px;
    color: white ;
}
.project .image-box:hover .overly{
    left: 0%;
    
}

/*=========================================
project CSS-End
===========================================*/

